body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#gridSizeBtn {
    font-size: 30px;
    margin: 50px;
}

.grid {
    display: grid;
    width: 800px;
    height: 800px;
    margin-bottom: 50px;
}

.cell {
    border: 1px solid black;
    background-color: lightgray;
}
